/* ================== */
/* =  Light Theme   = */
/* ================== */

body
,#root.light_theme > .MuiStack-root > .MuiBox-root
,#root.light_theme > .MuiStack-root > .MuiBox-root > div:nth-child(2) > div.MuiStack-root
{
    background-color: WhiteSmoke;
    color: DarkSlateGray;
}

/* ================== */
/* =  Light Theme   = */
/* ================== */

#root.light_theme [class^='Mui'][class*="-root"] *::before

/* sidebar  */

,#root.light_theme [class^='Mui'][class*="-root"] div#WbWikiTextEditor-content-editable-root
/* Assets  */
,#root.light_theme .MuiStack-root > .MuiBox-root > .MuiPaper-root
/* ,#root.light_theme .MuiStack-root:has( >.MuiStack-root > span.MuiTypography-bodySuperLarge) */
,#root.light_theme main .MuiStack-root:first-child .MuiStack-root:has( >.MuiStack-root >.MuiStack-root > span.MuiTypography-bodySuperLarge)
,#root.light_theme .MuiStack-root:has( >.MuiStack-root > span.MuiTypography-bodySuperLarge) *

/* Text */
,#root.light_theme [class*='Mui'] [class^='WbWikiText']

/* table */
,#root.light_theme [class^='Mui'][class*="-root"] [class$='-table'] table > tr

/* sidebar left */
,#root.light_theme a > .MuiStack-root[role="button"]
,#root.light_theme a.MuiTypography-root > div[role="button"] > span

/* sidebar right */
,#root.light_theme #article-form > div.MuiStack-root:nth-child(3) > .MuiStack-root:nth-child(2) > div
,#root.light_theme #article-form > div.MuiStack-root:nth-child(3) > .MuiStack-root:nth-child(2) > div.MuiStack-root > div.MuiStack-root
{
    background-color: #FDFFFE;
    color: DarkSlateGray;
}

/* ================== */
/* =  sidebar left  = */
/* ================== */
#root.light_theme #article-form > div.MuiStack-root:nth-child(1) span.MuiTypography-root
,#root.light_theme > .MuiStack-root > .MuiBox-root > div:nth-child(2) span.MuiTypography-root
{
    color: DarkSlateGray;
}
