/* =========================== */
/* ===    Custom_theme     === */
/* =========================== */

body.custom_theme .yt-board-wrapper .yt-agile-card .yt-agile-card__summary > .yt-agile-card__idWrapper
{
    font-weight: bold;
    background-color: #fff;
    color: black!important;
    /* text-decoration-color: black;
    font-family: 'Courier New', monospace;
    */
}

body.custom_theme .yt-sticky-panel .yt-agile-board__toolbar
{
    padding-top: 0.5rex;
    padding-bottom: 0.5rex;
}

body.custom_theme .agile-top-toolbar-container
{
      margin-top: -1rex;  
}

body.custom_theme .js-agile-toolbar-backlog
{
   display: flex;
   position: fixed;
   bottom: .2rem;
   right: 5rem;
   z-index: 1000;
}
body.custom_theme yt-agile-sprint-progress
{
   display: flex;
   position: fixed;
   bottom: .2rem;
   right: 0;
    z-index: 1000;
}

/* =========================== */
/* ===      TV mode        === */
/* =========================== */

body.custom_theme .yt-full-screen-mode .yt-board-wrapper .yt-agile-card .yt-agile-card__summary > .yt-agile-card__idWrapper
{
  font-size-adjust: 0.55;
  font-family: system-ui;
}

body.custom_theme .yt-full-screen-mode .yt-agile-card__summary,
body.custom_theme .yt-full-screen-mode .yt-drag-agile-card__summary,
body.custom_theme .yt-full-screen-mode .yt-agile-table__row-title__summary__text,
body.custom_theme .yt-full-screen-mode .yt-agile-card__summary > span,
body.custom_theme .yt-agile-card__summary > span
{
  font-size: 0.8rem;
  font-weight: 500;
  font-weight: normal;
  letter-spacing: normal;
}

/* 
:root {
    --highlighted-user: '';
}

body.show-user yt-agile-card:has(yt-issue-custom-field-lazy[title*=var(--highlighted-user)]) {
    zoom: 1.1;
    opacity: 1;
}
*/

/*
body.Темряков yt-agile-card:has(yt-issue-custom-field-lazy[title*="Assignee: {class-name}"])
*/

/* =========================== */
/* ===     Игорь Петров    === */
/* =========================== */

body.show_Игорь_Петров yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Игорь Петров"]) {
    zoom: 1.1;
    opacity: 1;
}
body.show_Игорь_Петров yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Игорь Петров"]):hover {
    zoom: 1.2;
    
}
body.show_Игорь_Петров yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Игорь Петров"])) {
    zoom: .8;
    opacity: .5;
    max-height: 2rem;
    overflow: hidden;
}

body.show_Игорь_Петров yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Игорь Петров"])):hover {
    zoom: .8;
}

/* =========================== */
/* ===   Максим Темряков   === */
/* =========================== */

body.show_Максим_Темряков yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Максим Темряков"]) {
    zoom: 1.1;
    opacity: 1;
}
body.show_Максим_Темряков yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Максим Темряков"]):hover {
    zoom: 1.2;
    
}
body.show_Максим_Темряков yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Максим Темряков"])) {
    zoom: .8;
    opacity: .5;
    max-height: 2rem;
    overflow: hidden;
}

body.show_Максим_Темряков yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Максим Темряков"])):hover {
    zoom: .8;
}

/* =========================== */
/* ===     Жданов_Артём    === */
/* =========================== */

body.show_Жданов_Артём yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Жданов Артём"]) {
    zoom: 1.1;
    opacity: 1;
}
body.show_Жданов_Артём yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Жданов Артём"]):hover {
    zoom: 1.2;
    
}
body.show_Жданов_Артём yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Жданов Артём"])) {
    zoom: .8;
    opacity: .5;
    max-height: 2rem;
    overflow: hidden;
}

body.show_Жданов_Артём yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Жданов Артём"])):hover {
    zoom: .8;
}

/* =========================== */
/* ===    Максим_Тёмкин    === */
/* =========================== */

body.show_Максим_Тёмкин yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Максим Тёмкин"]) {
    zoom: 1.1;
    opacity: 1;
}
body.show_Максим_Тёмкин yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Максим Тёмкин"]):hover {
    zoom: 1.2;
    
}
body.show_Максим_Тёмкин yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Максим Тёмкин"])) {
    zoom: .8;
    opacity: .5;
    max-height: 2rem;
    overflow: hidden;
}

body.show_Максим_Тёмкин yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Максим Тёмкин"])):hover {
    zoom: .8;
}

/* =========================== */
/* ===    show_Unassigned    === */
/* =========================== */

body.show_Unassigned yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Unassigned"]) {
    zoom: 1.1;
    opacity: 1;
}
body.show_Unassigned yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Unassigned"]):hover {
    zoom: 1.2;
    
}
body.show_Unassigned yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Unassigned"])) {
    zoom: .8;
    opacity: .5;
    max-height: 2rem;
    overflow: hidden;
}

body.show_Unassigned yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Unassigned"])):hover {
    zoom: .8;
}

/* =========================== */
/* ===    show_Yurii_Vasin    === */
/* =========================== */

body.show_Yurii_Vasin yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Yurii Vasin"]) {
    zoom: 1.1;
    opacity: 1;
}
body.show_Yurii_Vasin yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Yurii Vasin"]):hover {
    zoom: 1.2;
    
}
body.show_Yurii_Vasin yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Yurii Vasin"])) {
    zoom: .8;
    opacity: .5;
    max-height: 2rem;
    overflow: hidden;
}

body.show_Yurii_Vasin yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Yurii Vasin"])):hover {
    zoom: .8;
}

/* =========================== */
/* ===  Корпусов_Василий   === */
/* =========================== */

body.show_Корпусов_Василий yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Корпусов Василий"]) {
    zoom: 1.1;
    opacity: 1;
}
body.show_Корпусов_Василий yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Корпусов Василий"]):hover {
    zoom: 1.2;
    
}
body.show_Корпусов_Василий yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Корпусов Василий"])) {
    zoom: .8;
    opacity: .5;
    max-height: 2rem;
    overflow: hidden;
}

body.show_Корпусов_Василий yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Корпусов Василий"])):hover {
    zoom: .8;
}

/* =========================== */
/* ===    Yulian_Efimov    === */
/* =========================== */

body.show_Yulian_Efimov yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Yulian Efimov"]) {
    zoom: 1.1;
    opacity: 1;
}
body.show_Yulian_Efimov yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Yulian Efimov"]):hover {
    zoom: 1.2;
    
}
body.show_Yulian_Efimov yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Yulian Efimov"])) {
    zoom: .8;
    opacity: .5;
    max-height: 2rem;
    overflow: hidden;
}

body.show_Yulian_Efimov yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Yulian Efimov"])):hover {
    zoom: .8;
}

/* =========================== */
/* === Svetlana_Novoseltseva === */
/* =========================== */

body.show_Svetlana_Novoseltseva yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Svetlana Novoseltseva"]) {
    zoom: 1.1;
    opacity: 1;
}
body.show_Svetlana_Novoseltseva yt-agile-card:has(yt-issue-custom-field-lazy[title="Assignee: Svetlana Novoseltseva"]):hover {
    zoom: 1.2;
    
}
body.show_Svetlana_Novoseltseva yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Svetlana Novoseltseva"])) {
    zoom: .8;
    opacity: .5;
    max-height: 2rem;
    overflow: hidden;
}

body.show_Svetlana_Novoseltseva yt-agile-card:not(:has(yt-issue-custom-field-lazy[title="Assignee: Svetlana Novoseltseva"])):hover {
    zoom: .8;
}

